<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row">
    	<p>As aspiring Software Craftsmen we are raising the bar of professional software development by practicing it and helping others learn the craft. Through this work we have come to value:</p>
    </div>
    <div class="row justify-content-center">
    	<p>
    	<dl>
				<dt>Not only working software,</dt>
				<dd>but also <strong>well-crafted software</strong></dd>
				<dt>Not only responding to change,</dt>
				<dd>but also <strong>steadily adding value</strong></dd>
				<dt>Not only individuals and interactions,</dt>
				<dd>but also <strong>a community of professionals</strong></dd>
				<dt>Not only customer collaboration,</dt>
				<dd>but also <strong>productive partnerships</strong></dd>
			</dl>
		</p>
    </div>
    <div class="row">
    	<p>That is, in pursuit of the items on the left we have found the items on the right to be indispensable.</p>
    </div>
	</div>
  </div>
</section>