<img src="{{ '/assets/img/apps/ob-bg-full.jpg' | relative_url }}" alt="artisans.io Team" class="img-fluid" />

<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">

  <div class="container">
    <div class="row">

      <div class="col-lg-2 {{ section.text_style | default: '' }}">
        <img src="{{ '/assets/img/apps/ob4-app.png' | relative_url }}" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-8 {{ section.text_style | default: '' }}">

        <!-- <div class="mb-4"><strong>{{ section.title | markdownify }}</strong></div> -->

        <div class="mb-4"><strong>ORDER</strong>BOOK</div>

        <p>The most elegant ordering solution available for sales representatives, <strong>ORDER</strong>BOOK is a digital tool to make every sales meeting more enjoyable. All your products and collection in one place, seamlessly integrated with CRM and ERP systems.<br /><br />

Built in partnership with Smartview360 GmbH for iPad.</p>



      </div>
    </div>
  </div>
</section>



<img src="{{ '/assets/img/apps/wb-bg-full.jpg' | relative_url }}" alt="artisans.io Team" class="img-fluid" />


<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">

  <div class="container">
    <div class="row">

      <div class="col-lg-2 {{ section.text_style | default: '' }}">
        <img src="{{ '/assets/img/apps/wb4-app.png' | relative_url }}" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-8 {{ section.text_style | default: '' }}">

        <!-- <div class="mb-4"><strong>{{ section.title | markdownify }}</strong></div> -->

        <div class="mb-4"><strong>WORK</strong>BOOK</div>

        <p>The most simple and yet advanced solution available on the market, <strong>WORK</strong>BOOK is a digital tool for creating high-quality PDF files directly from the iPad. Seamlessly integrated with <strong>ORDER</strong>BOOK to provides the best toolbox to optimalise sales processes.<br /><br />

Built in partnership with Smartview360 GmbH for iPad.</p>



      </div>
    </div>
  </div>
</section>
